body {
  margin: 0;
  background-color: #43454b;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar thumb color on hover */
}
